In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ossora,RU,2022-02-02 01:01:36,59.2353,163.0719,28.36,95,100,10.65
1,1,Kieta,PG,2022-02-02 01:01:37,-6.2167,155.6333,84.78,72,70,10.31
2,2,Palmares Do Sul,BR,2022-02-02 01:01:37,-30.2578,-50.5097,70.41,76,0,11.03
3,3,Zhaotong,CN,2022-02-02 01:01:37,27.3167,103.7167,24.87,93,89,4.12
4,4,Avarua,CK,2022-02-02 01:01:38,-21.2078,-159.7750,82.45,78,20,12.66

In [3]:
#Get the data types 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=abs(max_temp))
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
heat_layer2 = gmaps.heatmap_layer(locations, weights=temps)

fig.add_layer(heat_layer2)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
heat_layer3 = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

fig.add_layer(heat_layer3)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [10]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kieta,PG,2022-02-02 01:01:37,-6.2167,155.6333,84.78,72,70,10.31
4,4,Avarua,CK,2022-02-02 01:01:38,-21.2078,-159.7750,82.45,78,20,12.66
7,7,Tambacounda,SN,2022-02-02 01:01:39,13.7539,-13.7586,81.36,12,7,8.66
9,9,Vanimo,PG,2022-02-02 00:54:44,-2.6741,141.3028,83.71,69,77,2.21
12,12,Hithadhoo,MV,2022-02-02 00:53:26,-0.6000,73.0833,82.38,72,6,12.35
13,13,Rikitea,PF,2022-02-02 01:01:41,-23.1203,-134.9692,78.35,70,72,6.04
16,16,Mataura,NZ,2022-02-02 01:01:42,-46.1927,168.8643,78.48,89,94,1.95
25,25,Bluff,NZ,2022-02-02 00:51:05,-46.6000,168.3333,79.81,73,78,10.63
29,29,Mahebourg,MU,2022-02-02 00:51:59,-20.4081,57.7000,80.26,94,75,21.85
31,31,Kapaa,US,2022-02-02 00:58:32,22.0752,-159.3190,77.11,68,5,1.01

In [14]:
preferred_cities_df.count()

City_ID       125
City          125
Country       125
Date          125
Lat           125
Lng           125
Max Temp      125
Humidity      125
Cloudiness    125
Wind Speed    125
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1         Kieta      PG     84.78  -6.2167  155.6333
4        Avarua      CK     82.45 -21.2078 -159.7750
7   Tambacounda      SN     81.36  13.7539  -13.7586
9        Vanimo      PG     83.71  -2.6741  141.3028
12    Hithadhoo      MV     82.38  -0.6000   73.0833
13      Rikitea      PF     78.35 -23.1203 -134.9692
16      Mataura      NZ     78.48 -46.1927  168.8643
25        Bluff      NZ     79.81 -46.6000  168.3333
29    Mahebourg      MU     80.26 -20.4081   57.7000
31        Kapaa      US     77.11  22.0752 -159.3190

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kieta,PG,84.78,-6.2167,155.6333,Uruna Bay Retreat
4,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
7,Tambacounda,SN,81.36,13.7539,-13.7586,
9,Vanimo,PG,83.71,-2.6741,141.3028,Vahmoneh Lodge Vanimo
12,Hithadhoo,MV,82.38,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...
535,Alofi,NU,76.89,-19.0595,-169.9187,Taloa Heights
539,Lorengau,PG,79.99,-2.0226,147.2712,Lorengau Harbourside Hotel
555,Tual,ID,81.16,-5.6667,132.7500,Grand Vilia Hotel
562,Waipawa,NZ,75.83,-41.4122,175.5153,Tora Coastal Walk
563,Sorong,ID,80.55,-0.8833,131.2500,Waigo Splash Hotel

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))